{% extends "sub_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="header_home">
  <h1 style="color: #2b2b2b">Template generator</h1>
</div>
<section class="section1">
    <div class="post-content">
        <p> Enter the word for which Wikipedia article questions must be generated </p>
        <br/>
        <form method="post">
            {% csrf_token %}
            {{ query|crispy }}
            <br />
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        </div>
</section>
{% endblock content %}