{% extends "sub_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="header_home">
  <h1 style="color: rgb(73, 51, 51)">Journal Analyser</h1>
</div>
<section class="section1">
    <div class="post-content">
        <p> Journal Analyser is a webapp that acts as a personal Hindi journal for each user. The application uses latest advancement in Natural Language Processing to track and analyse emotion and distress in user </p>
        <br/>
        <p> The goal of the application is to allow people to track their emotional trend across time and act as early warning system against depression </p>
      </div>
</section>
{% endblock content %}